/*=================================================================================================================================== 
 #Import Base
======================================================================================================================================*/
/*=================================================================================================================================== 
 #Reset
======================================================================================================================================*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*=================================================================================================================================== 
 #Less Vars
======================================================================================================================================*/
/*=================================================================================================================================== 
 #General
======================================================================================================================================*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  font: 14px/21px "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333333;
  -webkit-font-smoothing: antialiased;
}
p,
ul,
ol {
  margin-bottom: 21px;
}
a {
  color: rgba(0, 79, 68, 0.8);
  -webkit-transition: all 0.2s ease-out 0s;
  -moz-transition: all 0.2s ease-out 0s;
  -o-transition: all 0.2s ease-out 0s;
  transition: all 0.2s ease-out 0s;
  cursor: pointer;
  text-decoration: none;
}
a:hover {
  color: rgba(0, 3, 2, 0.8);
}
hr {
  border: none;
  height: 1px;
  border-top: 1px solid #ccc);
  margin: 21px 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #333333;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.1em;
}
h1 {
  font-size: 35px;
}
h2 {
  font-size: 26px;
}
h3 {
  font-size: 21px;
}
h4 {
  font-size: 16px;
}
h5 {
  font-size: 14px;
}
h6 {
  font-size: 12px;
}
blockquote {
  font: italic 14px/21px Georgia, serif;
  color: #333333;
  border-left: 2px solid #ccc);
  margin: 21px 0;
}
blockquote cite {
  display: block;
  color: #999999;
  font: normal 12px/21px "Helvetica Neue", Helvetica, Arial, sans-serif;
}
em,
i {
  font-style: italic;
}
strong,
b {
  font-weight: bold;
  color: #1a1a1a;
}
input:focus,
textarea:focus {
  box-shadow: 0 0 10px #ff7d46;
  outline: none;
}
/*=================================================================================================================================== 
 #Helpers
======================================================================================================================================*/
/*=================================================================================================================================== 
/* #Less Mixins
======================================================================================================================================*/
/*=================================================================================================================================== 
 #Header
======================================================================================================================================*/
body#profile a#profileLink,
body#home a#homeLink,
body#edit a#editLink {
  padding-bottom: 12px;
  border-bottom: 3px solid #fff;
}
.nav {
  background-color: #ff7d46;
}
.nav .nav-wrap {
  margin: 0 auto;
  padding: 20px 0;
}
.nav .profile-nav {
  float: left;
  margin: 0;
}
.nav .main-nav {
  float: right;
  margin: 0;
}
.nav ul li {
  display: inline;
  padding: 0 0 0 25px;
}
.nav a {
  color: #fff;
  font-size: 18px;
}
.nav a:hover {
  padding-bottom: 12px;
  border-bottom: 3px solid #fff;
}
.nav i {
  padding-right: 4px;
}
/*=================================================================================================================================== 
 #Content
======================================================================================================================================*/
.index-wrap {
  width: 100%;
  background-color: #ff7d46;
}
.index-wrap .logo-wrap {
  text-align: center;
  margin: 50px 0;
}
.index-wrap .logo-wrap h1 {
  font-family: 'Over the Rainbow', serif;
  font-size: 52px;
  color: #fff;
  font-weight: bold;
}
.index-wrap .logo-wrap p {
  color: #fff;
  font-size: 15px;
  float: right;
  margin: 0 40px 0 0;
  font-style: italic;
}
.index-wrap .login-middle-section {
  margin-top: 20px;
}
.login-wrap-row {
  margin-top: 0;
}
.register-wrap-row {
  margin-top: 30px;
}
.register-wrap input[type="submit"] {
  width: 100%;
  padding: 15px 0;
  color: #fff;
  background-color: #ff7d46;
  border: 1px solid #ff7d46;
  font-size: 16px;
}
.register-wrap input[type="submit"]:hover {
  transition: background-color 0.2s;
  background-color: #fff;
  color: #ff7d46;
  border: 1px solid #ff7d46;
}
.register-wrap input[type="text"],
.register-wrap input[type="password"],
.register-wrap input[type="email"] {
  float: right;
  width: 100%;
  font-size: 100%;
  height: 40px;
  padding: 0 0 0 5px;
  border: 1px solid #ff7d46;
  margin-bottom: 10px;
}
.login-wrap input[type="submit"] {
  width: 100%;
  padding: 15px 0;
  background-color: #ff7d46;
  color: #fff;
  /*		background-color: #fff;
		color: rgba(255, 125, 70, 1);*/

  border: 1px solid;
  font-size: 16px;
}
.login-wrap input[type="submit"]:hover {
  transition: background-color 0.2s;
  background-color: #fff;
  color: #ff7d46;
  /*			background-color: rgba(255, 125, 70, 1);
			color: #fff;*/

  border: 1px solid #FFF;
}
.login-wrap input[type="submit"]:focus {
  box-shadow: 0 0 10px #fff;
}
.login-wrap input[type="text"],
.login-wrap input[type="password"],
.login-wrap input[type="email"] {
  float: right;
  width: 100%;
  font-size: 100%;
  height: 40px;
  padding: 0 0 0 5px;
  border: 1px solid #fff;
  margin-bottom: 10px;
}
.login-wrap input[type="text"]:focus,
.login-wrap input[type="password"]:focus,
.login-wrap input[type="email"]:focus {
  box-shadow: 0 0 10px #fff;
}
.login-wrap form,
.register-wrap form {
  width: 70%;
  margin: 0 auto;
  font-size: 18px;
}
.form-divide {
  width: 25%;
  margin: 0 auto;
  font-size: 30px;
  text-align: center;
  margin-bottom: 20px;
  line-height: 30px;
  color: #fff;
}
.form-divide p {
  margin-bottom: 5px;
}
.form-divide .ion-arrow-down-c {
  font-size: 45px;
  color: #fff;
  margin-top: 10px;
}
.form-divide .pinkish {
  color: #fff;
  border-bottom: 2px dotted #fff;
}
.form-divide .pinkish:hover {
  border-bottom: 2px solid #fff;
}
.tweet-form-wrap {
  margin-top: 50px;
}
.tweet-form-wrap .content-username {
  text-align: right;
}
.tweet-form-wrap .content-username h1 {
  font-size: 35px;
}
.tweet-form-wrap .content-username a {
  color: #333;
  font-weight: 800;
}
.tweet-form-wrap .content-username a:hover {
  color: #000;
  border-bottom: 3px solid #000;
}
.tweet-form-wrap .span3 .user-facts {
  margin-top: 10px;
}
.tweet-form-wrap .span3 .user-facts p {
  font-size: 14px;
  margin: 0;
}
.tweet-form-wrap .tweet-form {
  width: 100%;
  margin: 0;
  height: 120px;
}
.tweet-form-wrap textarea {
  width: 98%;
  height: 100%;
  border: 1px solid rgba(255, 125, 70, 0.3);
  font-size: 100%;
}
.tweet-form-wrap .tweet-btn {
  margin: 0;
  position: relative;
  height: 60px;
  margin-top: 60px;
}
.tweet-form-wrap .tweet-btn:hover {
  color: pink;
}
.tweet-form-wrap .tweet-btn input {
  width: 100%;
  background-color: rgba(255, 255, 255, 0);
  color: #000;
  border: 1px solid rgba(255, 125, 70, 0.3);
  height: 100%;
  font-size: 18px;
}
.tweet-form-wrap .tweet-btn input:hover {
  transition: background-color 0.2s;
  background-color: #ff7d46;
  border: 1px solid #ff7d46;
}
.tweet-form-wrap .tweet-btn i {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 30px;
  margin-top: -15px;
  margin-left: -15px;
  z-index: -10;
  color: #ff7d46;
}
.feed {
  margin-top: 50px;
}
.posts-wrap {
  margin-top: 40px;
}
.posts-wrap .sender {
  font-weight: 800;
  font-size: 14px;
  color: #333;
  font-size: 16px;
}
.posts-wrap .sender:hover {
  color: #000;
  border-bottom: 2px solid;
}
.posts-wrap p {
  margin-bottom: 10px;
}
.posts-wrap p a {
  color: rgba(255, 125, 70, 0.8);
}
.posts-wrap p a:hover {
  color: #ff7d46;
  border-bottom: 1px solid #ff7d46;
}
.posts-wrap .post-menu {
  overflow: hidden;
  width: 100%;
}
.posts-wrap .post-menu ul {
  margin: 0;
  font-size: 12px;
}
.posts-wrap .post-menu li:first-child a {
  color: rgba(255, 125, 70, 0.8);
}
.posts-wrap .post-menu li:first-child a:hover {
  color: #ff7d46;
  border-bottom: 1px solid #ff7d46;
}
.posts-wrap .post-menu li {
  display: inline;
  float: right;
  padding-left: 15px;
}
.posts-wrap .post-menu li a {
  color: rgba(0, 0, 0, 0.6);
}
.posts-wrap .post-menu li a:hover {
  color: #000000;
}
.posts-wrap .post-menu li:first-child {
  float: left;
  padding: 0;
}
.post {
  width: 100%;
  border-bottom: 1px solid #ccc;
  padding: 12px 10px 12px 5px;
}
.post .reply-form {
  width: 100%;
  overflow: hidden;
  margin-top: 15px;
  padding: 2px;
}
.post .reply-form textarea {
  width: 60%;
  height: 100px;
  float: left;
  margin-right: 5px;
  border: 1px solid #ccc;
}
.post .reply-form textarea:focus {
  box-shadow: 0 0 5px #ff7d46;
  border-color: #ff7d46;
}
.post .reply-form input[type="submit"] {
  width: 100%;
  height: 50px;
  border: 1px solid #ccc;
  background-color: #fff;
}
.post .reply-form input[type="submit"]:hover {
  transition: background-color 0.2s;
  background-color: #333;
}
.post .reply-form .test {
  position: relative;
  width: 55px;
  height: 50px;
  float: left;
  margin-top: 50px;
}
.post .reply-form i {
  position: absolute;
  font-size: 25px;
  top: 50%;
  left: 50%;
  margin-left: -12.5px;
  margin-top: -12.5px;
  color: #333;
}
.conversation-modal {
  background-color: #fff;
}
.conversation-modal .closeBtn {
  float: right;
  cursor: pointer;
  font-size: 24px;
  margin-top: 5px;
  color: rgba(255, 125, 70, 0.7);
}
.conversation-modal .closeBtn:hover {
  color: #ff7d46;
}
.conversation-modal .modal-reply-form {
  width: 100%;
  margin-top: 15px;
  padding: 2px;
}
.conversation-modal textarea {
  width: 60%;
  height: 100px;
  float: left;
  margin-right: 5px;
  border: 1px solid #ccc;
}
.conversation-modal textarea:focus {
  box-shadow: 0 0 5px #ff7d46;
  border-color: #ff7d46;
}
.conversation-modal input[type="submit"] {
  width: 100%;
  height: 50px;
  border: 1px solid #ccc;
  background-color: #fff;
}
.conversation-modal input[type="submit"]:hover {
  transition: background-color 0.2s;
  background-color: #333;
}
.conversation-modal .test {
  position: relative;
  width: 55px;
  height: 50px;
  float: left;
  margin-top: 50px;
}
.conversation-modal i {
  position: absolute;
  font-size: 25px;
  top: 50%;
  left: 50%;
  margin-left: -12.5px;
  margin-top: -12.5px;
  color: #333;
}
.modal-post {
  width: 100%;
  border-bottom: 1px solid #ccc;
  padding: 15px 10px;
}
.reply-post {
  width: 100%;
  margin: 0 auto;
  border-bottom: 1px solid #ccc;
  padding: 15px 10px;
}
.reply-post a {
  color: rgba(255, 125, 70, 0.8);
}
.reply-post a:hover {
  color: #ff7d46;
  border-bottom: 1px solid #ff7d46;
}
.reply-post-color {
  background-color: rgba(238, 238, 238, 0.3);
}
.hide {
  display: none;
}
.show {
  display: block;
}
.pagecount {
  width: 100%;
  padding: 15px 0;
  text-align: right;
  font-size: 20px;
}
.detail-wrap {
  overflow: hidden;
}
.detail-wrap p {
  float: left;
  margin: 30px 0 0 30px;
}
.thumbnail-img {
  float: left;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  margin: 15px 0 10px 0;
  overflow: hidden;
}
.thumbnail-img img {
  width: 100%;
}
.profile-press {
  margin-top: 50px;
}
.profile-press .user-press {
  text-align: right;
  height: 100%;
  border-bottom: 3px solid #ff7d46;
}
.profile-press h1 {
  margin-bottom: 15px;
  font-weight: 800;
}
.profile-press .profile-pic {
  width: 90%;
  height: 200px;
  overflow: hidden;
  position: relative;
  margin-left: 10%;
}
.profile-press .profile-pic img {
  width: 100%;
}
.profile-posts .pagecount {
  float: right;
}
.headline {
  margin-top: 50px;
}
.edit {
  margin-top: 50px;
}
.edit-form-wrap {
  overflow: hidden;
  font-size: 18px;
}
.edit-form-wrap .change-pic {
  width: 100%;
  overflow: hidden;
  margin-bottom: 20px;
}
.edit-form-wrap input[type="file"] {
  float: left;
  width: 45%;
}
.edit-form-wrap .profile-pic {
  width: 55%;
  height: 200px;
  overflow: hidden;
  position: relative;
}
.edit-form-wrap .profile-pic img {
  width: 100%;
}
.edit-form-wrap form {
  margin-top: 30px;
  width: 90%;
  margin: 0 auto;
}
.edit-form-wrap .input-wrap {
  margin-bottom: 10px;
  height: 35px;
}
.edit-form-wrap input[type="text"],
.edit-form-wrap input[type="mail"],
.edit-form-wrap input[type="password"] {
  width: 55%;
  height: 100%;
  float: right;
  font-size: 100%;
  padding-left: 5px;
  border: 1px solid #ccc;
}
.edit-form-wrap label {
  float: left;
  width: 37%;
  margin-top: 6px;
}
.edit-form-wrap .presentation {
  margin-top: 15px;
}
.edit-form-wrap textarea {
  width: 100%;
  border: 1px solid #ccc;
  padding: 0 5px;
}
.edit-form-wrap input[type="submit"] {
  float: right;
  width: 55%;
  border: 1px solid #ff7d46;
  padding: 10px 0;
  /*		background-color: #fff;
		color: @main-color;*/

  background-color: #ff7d46;
  color: #fff;
}
.edit-form-wrap input[type="submit"]:hover {
  transition: background-color 0.2s;
  /*			background-color: @main-color;
			color: #fff;*/

  background-color: #fff;
  color: #ff7d46;
}
.edit-form-wrap .password-form {
  margin-top: 80px;
}
i,
input[type="submit"] {
  cursor: pointer;
}
.log-in-text-wrap {
  text-align: center;
  margin: 40px 0;
}
.log-in-text-wrap a {
  font-size: 20px;
  color: rgba(255, 125, 70, 0.7);
}
.log-in-text-wrap a:hover {
  color: #ff7d46;
}
/*=================================================================================================================================== 
 #Footer
======================================================================================================================================*/
/*=================================================================================================================================== 
 #Import Forms & buttons
======================================================================================================================================*/
/*=================================================================================================================================== 
 #MediaQ
======================================================================================================================================*/
/* Smaller than 1200 (devices and browsers) */
@media only screen and (max-width: 1199px) {
  
}
/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 979px) {
  
}
/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
  .nav {
    display: none;
  }
  .nav-btn-wrap {
    padding: 5px;
  }
  .mobile-nav {
    display: block;
  }
  .mobile-nav .mobile-nav-btn {
    color: #ff7d46;
    float: right;
    font-size: 30px;
  }
  .mobile-nav .btn-color {
    color: #fff;
    transition: color .9s;
  }
  .mobile-nav .mobile-nav-wrap {
    background-color: #ff7d46;
    position: absolute;
    z-index: 999;
  }
  .mobile-nav .mobile-nav-wrap ul {
    margin: 0;
    padding: 0 5px;
  }
  .mobile-nav .mobile-nav-wrap ul i {
    margin-right: 5px;
  }
  .mobile-nav .mobile-nav-wrap ul li {
    border-bottom: 1px solid rgba(255, 255, 255, 0.7);
    padding: 10px 0;
  }
  .mobile-nav .mobile-nav-wrap ul li:last-child {
    border-bottom: none;
  }
  .mobile-nav .mobile-nav-wrap a {
    color: #fff;
  }
  .index-wrap .logo-wrap {
    margin: 30px 0;
    padding: 0 10px;
  }
  .index-wrap .logo-wrap h1 {
    font-size: 44px;
  }
  .row-fluid .span4 {
    min-height: 0;
  }
  #home .container {
    padding: 0 5px;
  }
  .tweet-form-wrap {
    margin-top: 30px;
  }
  .tweet-form-wrap .content-username {
    text-align: center;
    margin-bottom: 30px;
  }
  .tweet-form-wrap .tweet-form textarea {
    width: 100%;
  }
  .tweet-form-wrap .tweet-btn {
    margin-top: 14px;
  }
  .tweet-form-wrap .tweet-btn input {
    background-color: #ff7d46;
  }
  .tweet-form-wrap .tweet-btn i {
    color: #fff;
    z-index: 1;
  }
  .tweet-form-wrap .span3 {
    min-height: 0;
  }
  .feed {
    margin-top: 30px;
  }
  .feed .span3 {
    min-height: 0;
  }
  .detail-wrap p {
    margin: 30px 0 0 10px;
  }
  #profile .container {
    padding: 0 5px;
  }
  .profile-press {
    margin-top: 30px;
  }
  .profile-press .span3 {
    min-height: 0;
  }
  .profile-press .user-press {
    text-align: center;
  }
  .profile-press .profile {
    margin-top: 0;
  }
  .profile-press .profile .profile-pic {
    width: 100%;
    margin: 0;
  }
  #edit .container {
    padding: 0 5px;
  }
  .edit {
    margin-top: 30px;
  }
  .edit .span3 {
    min-height: 0;
  }
  .edit .edit-form-wrap .password-form {
    margin-top: 60px;
  }
  .edit .edit-form-wrap form {
    width: 100%;
  }
  .edit .edit-form-wrap .upload-picture input {
    width: 100%;
  }
  .edit .edit-form-wrap .profile-pic {
    width: 100%;
  }
  .edit .edit-form-wrap .profile-pic img {
    width: 60%;
  }
  .edit .edit-form-wrap .input-wrap label,
  .edit .edit-form-wrap input {
    width: 100%;
  }
  .edit .edit-form-wrap .input-wrap label {
    margin-bottom: 3px;
  }
  .edit .edit-form-wrap .input-wrap input {
    margin-bottom: 15px;
  }
  .fade-color {
    background-color: #ff7d46;
    transition: background-color 0.9s;
  }
}
/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
  
}
/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
  
}
/*=================================================================================================================================== 
 #Retina displays
======================================================================================================================================*/
@media (-webkit-min-device-pixel-ratio: 2) {
  
}
